<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            href="{{url_for('static',path='/css/app.css')}}"
            rel="stylesheet"
        />
        
    </head>
    <body>
        <h1></h1>
        <h1 class="bg-gray-100">BASE Seasonality</h1>
     
        <div class="container" id="container-chart1"></div>
        <div class="container" id="container-chart2"></div>
        <div class="container" id="container-chart3"></div>
        <div class="container" id="container-chart4"></div>
        
        <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
        <script type="text/javascript">
            let ticker = "{{ticker}}"
            let start_year = {{start}}
            let end_year = {{end}}
        </script>
        <script src="{{url_for('static',path='/css/script.js')}}">
        </script>

        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
        <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>


        <script src="{{url_for('node_modules',path='flowbite/dist/flowbite.min.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </body>
</html>
