<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link
        href="{{url_for('static',path='/css/app.css')}}"
        rel="stylesheet"ßß
    />

        
        <title class="text-green-50">Commodities seasonality</title>
    </head>
    <body>
        <header class="bg-blue py-4">
            <nav class="container mx-auto flex justify-between items-center">
                <div class="logo">Seasonality Tool</div>
                <div> </div>
                <ul class="flex items-center">
                    <li class="mr-6"><a href="/educational" class="text-gray-700 hover:text-gray-900 pl-5">Educational</a></li>
                    <li class="mr-6"><a href="/about" class="text-gray-700 hover:text-gray-900 pl-5">About us</a></li>
                    <li><a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        



        

        <div class="container">


        <h2>How it works</h2>
        <h4>Type a ticker</h4>
        <h4>Select the time frame </h4>
        <h4>Analyze the result </h4>
        
            <form id="inputForm">
                <div class="form-group">
                    <label for="startYear">Start Year</label>
                    <input type="text" class="form-control" id="startYear" placeholder="2000">
                </div>
                <div class="form-group">
                    <label for="endYear">End Year</label>
                    <input type="text" class="form-control" id="endYear" placeholder="2024">
                </div>
                <div class="form-group">
                    <label for="ticker">ticker</label>
                    <input type="text" class="form-control" id="ticker" placeholder="XAU">
                </div>
                <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
            </form>
        </div>

         
        <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
        <script type="text/javascript">
            
        </script>
        <script src="{{url_for('static',path='/css/landing.js')}}">
        </script>

        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/stock/modules/accessibility.js"></script>
        <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>




    </body>
</html>
